html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

 .modal {
   display: none;  /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   float: left;
   top: 0;
   right: 0;
   padding-top: 20%;
 }

 /* Modal Content */
 .modal-content {
   position: relative;
   max-width: 450px;
   margin: auto;
   padding: 30px;
   background-color: #fefefe;
   border: 1px solid #ffd700;
   border-radius: 10px;
   color: #60605c;
   text-align: center;
   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.4s;
   animation-name: animatetop;
   animation-duration: 0.4s
 }

 /* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

 .modal-content li {
   list-style-type: none;
   text-align: center;
 }

 .button {
   font-family: inherit;
   border: 0;
   margin-top: 15px;
   border-radius: 5px;
   padding: 10px;
   color: #fefefe;
   background: #02ccba;
   cursor: pointer;
 }

 .button:hover {
   background: #aa7ecd;
 }
 /*
  * Styles for the deck of cards
  */
.deck {
    width: 660px;
    min-height: 680px;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    padding: 32px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #404756;
    font-size: 0;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    cursor: default;
}

.deck .card.show {
    font-size: 126px;
}

.deck .card.match {
    cursor: default;
    font-size: 126px;
}

.red {
  color: #e81b23;
  }
.skirt {
  color: #ff91bb;
}
.lemon {
  color: #ffe282;
  }
.soda {
  color: #68bbb8;
}
.wonka {
  color: #a92da3;
  }
.faux {
  color: #769f52;
}
.light {
  color: #0093c8;
  }
.green {
  color: #008f14;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li  {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.timer {
  display: flex;
  justify-content: center;
}
